<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marwaeltayeb.souq">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".view.SplashActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.ProductActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".view.LoginActivity" />
        <activity
            android:name=".view.SignUpActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".view.DetailsActivity"
            android:parentActivityName=".view.AllMobilesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.AllMobilesActivity" />
        </activity>
        <activity
            android:name=".view.AllLaptopsActivity"
            android:label="@string/all_laptops"
            android:parentActivityName=".view.ProductActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ProductActivity" />
        </activity>
        <activity
            android:name=".view.AllMobilesActivity"
            android:label="@string/all_mobiles"
            android:parentActivityName=".view.ProductActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ProductActivity" />
        </activity>

        <activity android:name=".view.CartActivity"
            android:label="@string/cart"
            android:parentActivityName=".view.ProductActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ProductActivity" />
        </activity>

        <receiver android:name=".receiver.NetworkChangeReceiver" />
    </application>
</manifest>