<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marwaeltayeb.souq">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.AllLaptopsActivity"
            android:label="@string/all_laptops"
            android:parentActivityName=".ui.ProductActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ProductActivity" />
        </activity>

        <activity
            android:name=".ui.AllMobilesActivity"
            android:label="@string/all_mobiles"
            android:parentActivityName=".ui.ProductActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.ProductActivity" />
        </activity>

        <activity android:name=".ui.LoginActivity">

        </activity>

        <activity
            android:name=".ui.SignUpActivity"
            android:theme="@style/NoActionBar">

        </activity>

        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".ui.ProductActivity">

        </activity>

        <receiver android:name=".receiver.NetworkChangeReceiver" />
    </application>
</manifest>