<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marwaeltayeb.souq">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".view.SplashActivity"
            android:theme="@style/NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".view.ProductActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".view.LoginActivity" />

        <activity
            android:name=".view.SignUpActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".view.DetailsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".view.AllMobilesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.AllMobilesActivity" />
        </activity>
        <activity
            android:name=".view.AllLaptopsActivity"
            android:label="@string/all_laptops"
            android:parentActivityName=".view.ProductActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ProductActivity" />
        </activity>
        <activity
            android:name=".view.AllMobilesActivity"
            android:label="@string/all_mobiles"
            android:parentActivityName=".view.ProductActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ProductActivity" />
        </activity>
        <activity
            android:name=".view.CartActivity"
            android:label="@string/cart"
            android:parentActivityName=".view.ProductActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ProductActivity" />
        </activity>
        <activity
            android:name=".view.WishListActivity"
            android:label="@string/my_wishList"
            android:parentActivityName=".view.ProductActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ProductActivity" />
        </activity>
        <activity
            android:name=".view.AccountActivity"
            android:label="@string/my_account"
            android:parentActivityName=".view.ProductActivity"
            android:theme="@style/AccountTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ProductActivity" />
        </activity>
        <activity
            android:name=".view.AddProductActivity"
            android:label="@string/add_product"
            android:parentActivityName=".view.ProductActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ProductActivity" />
        </activity>
        <activity
            android:name=".view.HelpActivity"
            android:label="@string/help_center"
            android:parentActivityName=".view.ProductActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ProductActivity" />
        </activity>
        <activity
            android:name=".view.AllReviewsActivity"
            android:label="@string/reviews"
            android:parentActivityName=".view.DetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.DetailsActivity" />
        </activity>
        <activity
            android:name=".view.WriteReviewActivity"
            android:label="@string/write_review"
            android:parentActivityName=".view.DetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.DetailsActivity" />
        </activity>
        <activity
            android:name=".view.PasswordActivity"
            android:label="@string/change_password"
            android:parentActivityName=".view.AccountActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.AccountActivity" />
        </activity>
        <activity
            android:name=".view.CategoryActivity"
            android:parentActivityName=".view.ProductActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ProductActivity" />
        </activity>
        <activity
            android:name=".view.PasswordAssistantActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".view.AuthenticationActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".view.NewsFeedActivity"
            android:label="@string/news_feed"
            android:parentActivityName=".view.ProductActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ProductActivity" />
        </activity>
        <activity android:name=".view.ShippingAddressActivity" />

        <activity android:name=".view.OrderProductActivity"
                  android:theme="@style/OrderProductTheme"/>

        <activity
            android:name=".view.OrdersActivity"
            android:label="@string/orders"
            android:parentActivityName=".view.ProductActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.ProductActivity" />
        </activity>
        <activity
            android:name=".view.StatusActivity"
            android:label="@string/status"
            android:parentActivityName=".view.OrdersActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".view.OrdersActivity" />
        </activity>

        <activity android:name=".view.SearchActivity" android:theme="@style/noAnimTheme" />
        <activity android:name=".view.ResultActivity"/>

        <receiver android:name=".receiver.NetworkChangeReceiver" />
    </application>

</manifest>